* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url('../assets/slider_top.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
  position: fixed;
  height: 6%;
  width: 100%;
  top: 0;
}

header img {
  position: relative;
  height: 60%;
  resize: horizontal;
  top: 20%;
  left: 15%;
}

visualizer {
  position: fixed;
  top: 6%;
  bottom: 24%;
  width: 100%;
}

.stream {
  position: relative;
  resize: horizontal;
  margin: auto;
  text-align: center;
}

svg {
  position: relative;
  resize: horizontal;
  margin: auto;
}

footer {
  position: fixed;
  height: 24%;
  width: 100%;
  bottom: 0;
}

footer .innerFoot {
  position: fixed;
  bottom: 2.1%;
  height: 13%;
  width: 100%;
}

.innerFoot img {
  position: relative;
  height: 60%;
  resize: horizontal;
  top: 20%;
  left: 15%;
}
